:root {
    --active-color-bg-dark: #160b3d;
    --active-color-bg-light: #326862;

    --color-bg-dark: #160b3d;
    --color-bg-light: #326862;
    --color-lightbluepink-light: #c03450;
    --color-lightbluepink-dark: #263998;
    --color-darkgreengold-light:#645e05;
    --color-darkgreengold-dark: #2e5c27;
    --color-darknavygray-light: #171f4b;
    --color-darknavygray-dark: #1a1a1a;
    --color-lightgray-light: #e0e0e0;
    --color-lightgray-dark: #cacaca;

    --selectedColor: #f4f4f4ba;

    --active-button-purple: #833ab4;
    --active-button-red:#fd1d1d;
    --button-purple: #833ab4;
    --button-red:#fd1d1d;
    --button-darkblue: #1b5699;
    --button-lightgreen: #029e75;
    --button-orange: #ab7534;
    --button-yellow: #5e5806;
    --button-darkpink: #63274b;
    --button-darkpurple: #3c0425;
    --button-lightgray: #bcbcbc;
    --button-darkgray: #4c4c4c;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    margin: 0;
}

p.lightModeActive, button.lightModeActive, span.lightModeActive, label.lightModeActive{
    color: black !important;
}

#maindiv, .block{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background: linear-gradient(
        to top right,
        var(--active-color-bg-dark),
        var(--active-color-bg-light)
    );
    color: #1b1b1b;
    height: 100vh;
    background-color: #160b3d;
}

.background {
    height: 100%;
    left: 0;
    position: fixed;
    overflow: hidden;
    right: 0;
    width: 100%;
}

.background_ball {
    background: linear-gradient(
        to left,
        rgba(16, 36, 128, 0.267),
        rgba(255, 255, 255, 0.26)
    );
    border-radius: 50%;
    opacity: 0.5;
    position: fixed;
}

.background_ball:nth-child(1) {
    animation: move1 25s infinite linear both;
    bottom: 75vh;
    height: 50vh;
    width: 50vh;
}

.background_ball:nth-child(2) {
    animation: move2 40s infinite linear both;
    height: 40vh;
    top: 65%;
    width: 40vh;
}
.background_ball:nth-child(3) {
    animation: move3 55s infinite linear both;
    height: 50vh;
    top: 45%;
    width: 50vh;
}
@keyframes move1 {
    0% {
        transform: translate(-60vw, 0);
    }
    100% {
        transform: translate(120vw, 60vw);
    }
}

@keyframes move2 {
    0% {
        transform: translate(100vw, 0);
    }
    100% {
        transform: translate(-50vw, -30vw);
    }
}

@keyframes move3 {
    0% {
        transform: translate(130vw, 0);
    }
    100% {
        transform: translate(-70vw, -30vw);
    }
}


#menudiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
    margin-top: 7px;
    position: relative;
}

button{
    border: 0;
    cursor: pointer;
    border-radius: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(var(--active-button-purple),var(--active-button-red));  
    background: -moz-linear-gradient(var(--active-button-purple),var(--active-button-red));  
    background: -o-linear-gradient(var(--active-button-purple),var(--active-button-red));  
    background: linear-gradient(var(--active-button-purple),var(--active-button-red));
    -webkit-transition: background 0.4s ease-out;  
    -moz-transition: background 0.4s ease-out;  
    -o-transition: background 0.4s ease-out;  
    transition: background 0.4s ease-out; 
    background-size:50px 150px;
    color:whitesmoke;
    position: relative;
}

button:hover{
    background-position:100px;
}

#infoButton{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 21px;
    border-radius: 11px;
    margin-left: 10px;
    width: 27px;
    height: 27px;
}

#langButtondiv{
    display: flex;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
}

#gameInfoDiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 1s;

}
#gameInfoDivInside{
    padding-top: 5px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 40px;
    background-color: #1b1b1b78;
    width: 99.5%;
    position: absolute;
    z-index: 1 !important;
}

#gameInfoDivInsideInside{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
iframe{
    width: 100%;
    height: 92vh;
}

#closeInfoButton{
    border-radius: 11px;
    transform: translate(30px, 5px);
    height: 30px;
    width: 30px;
}


#langButtondiv.PL .icon{
    transform: translateX(21px);
}

#langButton{
    border-radius: 50px;
    height: 25px;
    outline-width: 5px;
    position: relative;
    width: 45px;
    margin-top: 15px;
}

#plendiv{
    display: flex;
    justify-content: space-between;
}

#langButton p{
    margin-right: 4px;
    margin-left: 4px;
    font-size: 12px;
}

.icon {
    background-color: var(--active-button-purple);
    border-radius: 100%;
    content: "";
    display: block;
    height: 18px;
    margin: -16.2px 3px;
    position: absolute;
    width: 18px;
    transition: background-color 0.3s;
    transition: transform 0.3s;
}
#langSpan{
    bottom: 65%;
    color: var(--color-main);
    font-size: 11.5px;
    left: 50%;
    padding: 12px 0;
    position: absolute;
    transform: translateX(-55%);
    transition: color 0.3s;
    width: 100%;
}

#recordsBtndiv{
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
#recordsBtn{
    position: absolute;
    height: 27px;
    width: 27px;
    margin-right: 11px;
    margin-top: 10px;
    border-radius: 11px;
}

#recordsDiv{
    opacity: .7;
    padding-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
    gap: 10px;
    transition: all .3s ease-in-out;
}

#colorPickerBtndiv{
    z-index: 1;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

#colorPickerBtn{
    border-radius: 11px;
    height: 27px;
    width: 27px;
}

.colorCircle {
    padding: 2px;
    margin: 5px 6px 5px -2.5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: width 0.25s, height 0.25s, margin 0.25s;
}
.colorCircle:hover{
    cursor: pointer;
    margin: 5px 6px 5px -5px;
    height: 37px;
    width: 37px;
}
.active {
    border: 3px solid var(--selectedColor);
}

#greenBlueCircle{
    background: linear-gradient(
        to top right,
        var(--color-bg-dark),
        var(--color-bg-light)
    );
}
#lightBluePinkCircle{
    background: linear-gradient(
        to top right,
        var(--color-lightbluepink-dark),
        var(--color-lightbluepink-light)
    );
}
#darkGreenGoldCircle{
    background: linear-gradient(
        to top right,
        var(--color-darkgreengold-dark),
        var(--color-darkgreengold-light)
    );
}
#darkNavyGrayCircle{
    background: linear-gradient(
        to top right,
        var(--color-darknavygray-dark),
        var(--color-darknavygray-light)
    )
}
#lightGrayCircle{
    background: linear-gradient(
        to top right,
        var(--color-lightgray-dark),
        var(--color-lightgray-light)
    )
}

.scale-up-top {
    -webkit-animation: scale-up-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-up-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-up-top-reverse {
    -webkit-animation: scale-up-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: scale-up-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

#ownPhotosWarningdiv {
    pointer-events: none;
    opacity: 0;
    font-size: 17px;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    margin-top: 20px;
}

#imageAspectRatiodiv{
    display: none;
    margin-top: 15px;
    color: whitesmoke;
    text-align: center;
}

#imageAspectRatiodiv div{
    margin: 20px;
}
#imageAspectRatiodiv button{
    margin: 0px 4px 0px 4px;
    width: 100px;
    height: 40px;
}


#menudiv button{
    font-size: 15px;
    height: 55px;
    width: 110px;
}

#alertdiv{
    display: none;
    margin-top: 10px;
    margin-bottom: 0;
    color: #0c5460;
    border: solid 1px #bee5eb;
    position: relative;
    padding: 8px;
    background-color: #d1ecf1;
}
#alertdiv strong{
    margin-left: 25px;
    margin-right: 5px;
}

.bounce {
    animation-name: bounce;
    animation-duration: 1.4s;
    animation-iteration-count:1;
    transform-origin: bottom;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-20px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}


#difficultydiv{
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
#difficultydiv button{
    height: 35px;
    width: 80px;
    margin-left: 15px;
}

#slider{
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
}

#slide{
    background-image: url(img/ritka.jpg);
    background-size: 150px;
    height: 150px;
    width: 150px;
    transition: all 0.65s;
}

#dots {
    margin-top: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    padding-right: 0;
    border-radius: 2px;
    position: relative;

  }
  
#dots .dot {
    width: 12px;
    height: 12px;
    background-color: #3a3a3a;
    display: inline-block;
    border: rgba(245, 245, 245, 0.281) solid 1px;
    border-radius: 100%;
    margin-right: 10px;
    cursor: pointer;
}

.arrow{
    width: 0; 
    height: 0; 
    margin: 10px;
    cursor: pointer;
    display: inline-block;
}

#arrow-right{
    border-right: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
    border-left: 20px solid #1b1b1bda;
}
#arrow-left{
    border-left: 0px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent; 
    border-right: 20px solid #1b1b1bda;
}

.arrowslideR {
    animation-name: arrowslideR;
    animation-duration: 1.3s;
    animation-iteration-count:1;
    transform-origin: bottom;
    animation-timing-function: ease;
}

@keyframes arrowslideR {
    0%   { transform: scale(1,1)    translateX(0);}
    10%  { transform: scale(1.1,.9) translateX(0);}
    30%  { transform: scale(.9,1.1) translateX(20px);}
    50%  { transform: scale(1,1)    translateX(0);}
    95%  { transform: scale(1,1)    translateX(15px);}
    100% { transform: scale(1,1)    translateX(15px);}
}

.arrowslideL {
    animation-name: arrowslideL;
    animation-duration: 1.3s;
    animation-iteration-count:1;
    transform-origin: bottom;
    animation-timing-function: ease;
}

@keyframes arrowslideL {
    0%   { transform: scale(1,1)    translateX(0); }
    10%  { transform: scale(1.1,.9) translateX(0); }
    30%  { transform: scale(.9,1.1) translateX(-20px);}
    50%  { transform: scale(1,1)    translateX(0); }
    95%  { transform: scale(1,1)    translateX(-15px);}
    100% { transform: scale(1,1)    translateX(-15px); }
}


#selectBtndiv{
    margin-top: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

#selectBtndiv button{
    font-size: 14px;
    margin-left: 20px;
    height: 50px;
    width: 100px;
}

input[type="file"] {
    position: relative;
    display: none;
}
#imgInputStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    height: 50px;
    width: 125px;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    border-radius: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(var(--active-button-purple),var(--active-button-red));  
    background: -moz-linear-gradient(var(--active-button-purple),var(--active-button-red));  
    background: -o-linear-gradient(var(--active-button-purple),var(--active-button-red));  
    background: linear-gradient(var(--active-button-purple),var(--active-button-red));
    -webkit-transition: background 0.4s ease-out;  
    -moz-transition: background 0.4s ease-out;  
    -o-transition: background 0.4s ease-out;  
    transition: background 0.4s ease-out; 
    background-size:50px 150px;
    color:whitesmoke;
    position: relative;
}
#imgInputStyle:hover{
    background-position:100px;
}



#game{
    height: 300px;
    width: 300px;
    /* display: flex;
    flex-wrap: wrap; */
    position: relative;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3 ease-in-out;
}
#game.fade{
    opacity:0;
}

.block{
    position: absolute;
    border: dashed rgba(255, 255, 255, 0.450) 1px;
    height: 100px;
    width: 100px;
    color: transparent;
    font-size: 25px;
    transition: top 0.22s linear, left 0.22s linear,background-position 0.22s linear;
    background-image: url(img/ritka.jpg);
    background-size: 300px 300px;
    background-repeat: no-repeat;
}
#emptyBlock{
    background: none;
    border: none;
}

#statisticsDiv{
    pointer-events: none;
    user-select: none;
    transition: opacity 0.3s;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 150px;
}
#statisticsDiv.fade{
    opacity: 0;
}

#statisticsDiv p{
    color: rgba(200, 200, 200, 0.6);
}

#photos{
    display: none;
}

#winInfodiv{
    display: flex;
    position: fixed;
    text-align: center;
    justify-content: center;
    
}

#winInfo{
    user-select: none;
    pointer-events: none;
    text-align: center;
    color: rgb(216, 184, 5);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bounce-win {
    animation-name: bounce-win;
    animation-duration: 1.4s;
    animation-iteration-count:3;
    transform-origin: bottom;
    animation-timing-function: ease;
}
.invisible{
    display: none !important;
}

.opacity0{
    opacity: 0 !important;
}
.opacity0WithTranslate{
    opacity: 0 !important;
    transform: translateY(-25px);
}

@keyframes bounce-win {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-20px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

/* .reveal{ SCROLL REVEAL
    position: relative;
    transform: translateY(170px);
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
} */

/* .reveal.active{
    transform: translateY(0px);
    opacity: 1;
} */

.revealtime, .revealtime2, .revealtime3{
    position: relative;
    transform: translateY(170px);
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.075, 0.52, 0.165, 1);
}
.revealtime.delayed, .revealtime2.delayed, .revealtime3.delayed{
    transform: translateY(0px);
    opacity: 1;
}


@media only screen and (max-width: 590px) {
    #colorPickerBtndiv{
        margin-left: 10px;
        margin-top: 60px;
    }
    #recordsBtn{
        margin-top: 60px;
    }
    #gameInfoDivInside{
        padding-top: 0px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 20px;
        background-color: #1b1b1b78;
        width: 99.5%;
        position: absolute;
        z-index: 1 !important;
    }
    #closeInfoButton{
        transform: translate(-18px, 35px);
    }
    #menudiv button{
        font-size: 2.8vw;
        margin-left: 2px;
        margin-right: 2px;
        height: 10.5vw;
        width: 21vw;
    }
    #selectBtndiv button{
        font-size: 2.5vw;
        margin-left: 10px;
        height: 9vw;
        width: 18vw;
    }
    #imgInputStyle {
        font-size: 2.1vw;
        height: 10vw;
        width: 27vw;
        margin-left: 10px;
    }
    #difficultydiv button{
        height: 8vw;
        width: 19vw;
        margin-left: 12px;
    }
  }

  @media only screen and (max-width: 490px) {
    #colorPickerBtndiv{
        margin-top: 55px;
    }
    #recordsBtn{
        margin-top: 55px;
    }
  }

  @media only screen and (max-width: 380px){
    #colorPickerBtndiv{
        margin-top: 47px;
    }
    #colorPickerBtn{
        height: 22px;
        width: 22px;
        border-radius: 7px;
    }
    #recordsBtn{
        width: 22px;
        height: 22px;
        margin-top: 47px;
        border-radius: 7px;
    }
  }